USE [master]
GO
/****** Object:  Database [HOTEL]    Script Date: 10/28/2018 10:40:44 PM ******/
CREATE DATABASE [HOTEL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HOTEL', FILENAME = N'E:\Program Files (x86)\SQL\MSSQL12.SQLEXPRESS\MSSQL\DATA\HOTEL.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HOTEL_log', FILENAME = N'E:\Program Files (x86)\SQL\MSSQL12.SQLEXPRESS\MSSQL\DATA\HOTEL_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HOTEL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HOTEL]
GO
/****** Object:  Table [dbo].[ASIGNACION]    Script Date: 10/28/2018 10:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIGNACION](
	[Id_asignacion] [int] IDENTITY(1,1) NOT NULL,
	[Id_registro] [int] NOT NULL,
	[Id_habitacion] [int] NOT NULL,
	[Id_huesped] [int] NOT NULL,
 CONSTRAINT [PK_ASIGNACION] PRIMARY KEY CLUSTERED 
(
	[Id_asignacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HABITACION]    Script Date: 10/28/2018 10:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HABITACION](
	[Id_habitacion] [int] IDENTITY(1,1) NOT NULL,
	[Id_tipo] [int] NOT NULL,
	[Nivel] [int] NOT NULL,
	[Comentario] [nvarchar](50) NULL,
	[Precio] [float] NOT NULL,
 CONSTRAINT [PK_HABITACION] PRIMARY KEY CLUSTERED 
(
	[Id_habitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HUESPED]    Script Date: 10/28/2018 10:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HUESPED](
	[Id_huesped] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Direccion] [nvarchar](max) NULL,
 CONSTRAINT [PK_HUESPED] PRIMARY KEY CLUSTERED 
(
	[Id_huesped] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REGISTRO]    Script Date: 10/28/2018 10:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGISTRO](
	[Id_registro] [int] IDENTITY(1,1) NOT NULL,
	[Id_huesped] [int] NOT NULL,
	[Fecha_hora_reserva] [datetime2](2) NULL,
	[Fecha_hora_iniregistro] [datetime2](2) NULL,
	[Fecha_hora_finregistro] [datetime2](2) NULL,
	[Fecha_hora_pago] [datetime2](2) NULL,
	[Total_pago] [float] NOT NULL,
 CONSTRAINT [PK_REGISTRO] PRIMARY KEY CLUSTERED 
(
	[Id_registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICIO]    Script Date: 10/28/2018 10:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICIO](
	[Id_servicio] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[Precio] [float] NOT NULL,
 CONSTRAINT [PK_SERVICIO] PRIMARY KEY CLUSTERED 
(
	[Id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO]    Script Date: 10/28/2018 10:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO](
	[Id_tipo] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TIPO] PRIMARY KEY CLUSTERED 
(
	[Id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_DOCUMENTO]    Script Date: 10/28/2018 10:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_DOCUMENTO](
	[Id_tipo_documento] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[Factor] [nchar](25) NULL,
 CONSTRAINT [PK_TIPO_DOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[Id_tipo_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACCION]    Script Date: 10/28/2018 10:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACCION](
	[Id_transaccion] [int] IDENTITY(1,1) NOT NULL,
	[Id_asignacion] [int] NOT NULL,
	[Id_huesped] [int] NOT NULL,
	[Id_habitacion] [int] NOT NULL,
	[Id_tipo_documento] [int] NOT NULL,
	[Fecha] [date] NULL,
	[Total] [float] NOT NULL,
 CONSTRAINT [PK_TRANSACCION] PRIMARY KEY CLUSTERED 
(
	[Id_transaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACCION_DETALLE]    Script Date: 10/28/2018 10:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACCION_DETALLE](
	[Id_transac_detalle] [int] IDENTITY(1,1) NOT NULL,
	[Id_transaccion] [int] NOT NULL,
	[Id_servicio] [int] NOT NULL,
	[Id_tipo_docuemnto] [int] NOT NULL,
	[Cantidad] [int] NULL,
	[Total] [float] NOT NULL,
 CONSTRAINT [PK_Transaccion_detalle] PRIMARY KEY CLUSTERED 
(
	[Id_transac_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HABITACION] ON 

INSERT [dbo].[HABITACION] ([Id_habitacion], [Id_tipo], [Nivel], [Comentario], [Precio]) VALUES (2, 8, 4, N'HABITACION 0', 2400)
INSERT [dbo].[HABITACION] ([Id_habitacion], [Id_tipo], [Nivel], [Comentario], [Precio]) VALUES (3, 4, 5, N'HABITACION 1', 2037)
INSERT [dbo].[HABITACION] ([Id_habitacion], [Id_tipo], [Nivel], [Comentario], [Precio]) VALUES (4, 8, 16, N'HABITACION 2', 6011)
SET IDENTITY_INSERT [dbo].[HABITACION] OFF
SET IDENTITY_INSERT [dbo].[HUESPED] ON 

INSERT [dbo].[HUESPED] ([Id_huesped], [Nombre], [Apellido], [Direccion]) VALUES (1, N'name', N'last name', N'dir')
INSERT [dbo].[HUESPED] ([Id_huesped], [Nombre], [Apellido], [Direccion]) VALUES (2, N'name', N'last name', N'dir')
INSERT [dbo].[HUESPED] ([Id_huesped], [Nombre], [Apellido], [Direccion]) VALUES (3, N'name 2', N'last name 2', N'dir 2')
SET IDENTITY_INSERT [dbo].[HUESPED] OFF
SET IDENTITY_INSERT [dbo].[SERVICIO] ON 

INSERT [dbo].[SERVICIO] ([Id_servicio], [Descripcion], [Precio]) VALUES (1, N'Prueba', 12)
SET IDENTITY_INSERT [dbo].[SERVICIO] OFF
SET IDENTITY_INSERT [dbo].[TIPO] ON 

INSERT [dbo].[TIPO] ([Id_tipo], [Descripcion]) VALUES (1, N'VIP')
INSERT [dbo].[TIPO] ([Id_tipo], [Descripcion]) VALUES (2, N'Individual')
INSERT [dbo].[TIPO] ([Id_tipo], [Descripcion]) VALUES (3, N'Doble de uso individual')
SET IDENTITY_INSERT [dbo].[TIPO] OFF
ALTER TABLE [dbo].[ASIGNACION]  WITH CHECK ADD  CONSTRAINT [FK_ASIGNACION_HABITACION] FOREIGN KEY([Id_habitacion])
REFERENCES [dbo].[HABITACION] ([Id_habitacion])
GO
ALTER TABLE [dbo].[ASIGNACION] CHECK CONSTRAINT [FK_ASIGNACION_HABITACION]
GO
ALTER TABLE [dbo].[ASIGNACION]  WITH CHECK ADD  CONSTRAINT [FK_ASIGNACION_HUESPED] FOREIGN KEY([Id_huesped])
REFERENCES [dbo].[HUESPED] ([Id_huesped])
GO
ALTER TABLE [dbo].[ASIGNACION] CHECK CONSTRAINT [FK_ASIGNACION_HUESPED]
GO
ALTER TABLE [dbo].[ASIGNACION]  WITH CHECK ADD  CONSTRAINT [FK_ASIGNACION_REGISTRO] FOREIGN KEY([Id_registro])
REFERENCES [dbo].[REGISTRO] ([Id_registro])
GO
ALTER TABLE [dbo].[ASIGNACION] CHECK CONSTRAINT [FK_ASIGNACION_REGISTRO]
GO
ALTER TABLE [dbo].[HABITACION]  WITH CHECK ADD  CONSTRAINT [FK_HABITACION_TIPO] FOREIGN KEY([Id_tipo])
REFERENCES [dbo].[TIPO] ([Id_tipo])
GO
ALTER TABLE [dbo].[HABITACION] CHECK CONSTRAINT [FK_HABITACION_TIPO]
GO
ALTER TABLE [dbo].[REGISTRO]  WITH CHECK ADD  CONSTRAINT [FK_REGISTRO_HUESPED] FOREIGN KEY([Id_huesped])
REFERENCES [dbo].[HUESPED] ([Id_huesped])
GO
ALTER TABLE [dbo].[REGISTRO] CHECK CONSTRAINT [FK_REGISTRO_HUESPED]
GO
ALTER TABLE [dbo].[TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACCION_ASIGNACION] FOREIGN KEY([Id_asignacion])
REFERENCES [dbo].[ASIGNACION] ([Id_asignacion])
GO
ALTER TABLE [dbo].[TRANSACCION] CHECK CONSTRAINT [FK_TRANSACCION_ASIGNACION]
GO
ALTER TABLE [dbo].[TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACCION_HABITACION] FOREIGN KEY([Id_habitacion])
REFERENCES [dbo].[HABITACION] ([Id_habitacion])
GO
ALTER TABLE [dbo].[TRANSACCION] CHECK CONSTRAINT [FK_TRANSACCION_HABITACION]
GO
ALTER TABLE [dbo].[TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACCION_HUESPED] FOREIGN KEY([Id_huesped])
REFERENCES [dbo].[HUESPED] ([Id_huesped])
GO
ALTER TABLE [dbo].[TRANSACCION] CHECK CONSTRAINT [FK_TRANSACCION_HUESPED]
GO
ALTER TABLE [dbo].[TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACCION_TIPO_DOCUMENTO] FOREIGN KEY([Id_tipo_documento])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([Id_tipo_documento])
GO
ALTER TABLE [dbo].[TRANSACCION] CHECK CONSTRAINT [FK_TRANSACCION_TIPO_DOCUMENTO]
GO
ALTER TABLE [dbo].[TRANSACCION_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_detalle_SERVICIO] FOREIGN KEY([Id_servicio])
REFERENCES [dbo].[SERVICIO] ([Id_servicio])
GO
ALTER TABLE [dbo].[TRANSACCION_DETALLE] CHECK CONSTRAINT [FK_Transaccion_detalle_SERVICIO]
GO
ALTER TABLE [dbo].[TRANSACCION_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_detalle_TIPO_DOCUMENTO] FOREIGN KEY([Id_tipo_docuemnto])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([Id_tipo_documento])
GO
ALTER TABLE [dbo].[TRANSACCION_DETALLE] CHECK CONSTRAINT [FK_Transaccion_detalle_TIPO_DOCUMENTO]
GO
ALTER TABLE [dbo].[TRANSACCION_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_detalle_TRANSACCION] FOREIGN KEY([Id_transaccion])
REFERENCES [dbo].[TRANSACCION] ([Id_transaccion])
GO
ALTER TABLE [dbo].[TRANSACCION_DETALLE] CHECK CONSTRAINT [FK_Transaccion_detalle_TRANSACCION]
GO
USE [master]
GO
